.datacollectionpage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.promptArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.renderedtext {
  font-family: "Roboto";
}
